header {
  height: 250px;
  background: #004068;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6
{
  font-family: "Nunito", sans-serif;
  color: #fff;
}

header img {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 0;
  height: 250px;
}

footer .columns { background: #ddd; }
footer p { margin: 10px 0; font-size: 10pt; }

pre code {
    display: block;
    margin: 10px 0;
    padding: 0.5em;
    overflow-x: auto;
    line-height: 1.3rem;
    color: #333;
}

p a.citation-reference {
    font-size: 0.8em;
}

table.docutils.citation {
    border: 0 none;
    margin-bottom: 0;
    width: auto;
}

table.docutils.citation td.label {
    background: transparent;
    padding: none;
    font-size: 0.8em;
    line-height: 1.125rem;
    padding: 0.5625rem 0.625rem;
    width: 10em;
    text-align: left;
}

table caption {
    text-align: left;
    margin-bottom: 1em;
}
