{% extends "tool.html" %}

{% block title %}Absorptive partitioning calculations [with inorganic core] {% endblock %}

{% block form %}
{{ form.hidden_tag() }}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48961465-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="row">
  <div class="small-12 columns">
    <p>Calculate the condensed phase abundance of organic compounds from a
    prescribed total gaseous concentration, existing core and ambient
    conditions using absorptive partitioning theory.  Absorptive partitioning
    simulations do not account for any gas phase reactions or gas phase non-ideality, the former
    not expected to occur under ambient conditions. It is assumed the SMILES string
    and abundances uploaded represent a given point in time of interest to the user. </p>
    

    <p>Using the form below you can either upload a text file containing 
    SMILES strings and gas phase abundances of organic compounds (molecules/cc), and any inorganic core (micro moles/cubic metre) 
    ,or enter each SMILES
    string and abundance individually. To add a new compound simply click on the 'Add' button. </p>

    <p>Note that users also have the option to run simulations assuming solution ideality
    or non-ideality through the use of an optinal activity coeffficient model. Non-ideal
    simulations can take significantly longer than ideal simulations. 
    </p>

    <p>To represent an inorganic core, ions covered in our simulations, with the associated SMILES string, are:
      <ul>
       <li>[Na+]   Sodium cation</li>
       <li>[NH4+]   Ammonium cation</li>
       <li>[K+]   Potassium cation</li>
       <li>[Ca+2]   Calcium cation</li>
       <li>[Mg+2]   Magnesium cation</li>
       <li>[Cl-]   Chloride anion</li>
       <li>[O-][N+]([O-])=O   Nitrate anion</li>
       <li>[O-]S([O-])(=O)=O   Sulphate anion</li>
      </ul> 
    Please note these simulations expect input from both organic and inorganic compounds. For partitioning
    simulations without an inorganic core, please use the alternative function that can be found on the 
    home page.
    </p>

    <p> These simultions rely on a molar based partitioning model. More information can be found in many of our
    papers, including Barley et al 2009:</p>
    <li>  Barley, M., Topping, D. O., Jenkin, M. E., and McFiggans, G.: Sensitivities of the absorptive 
    partitioning model of secondary organic aerosol formation to the inclusion of water, Atmos. Chem. Phys., 
    9, 2919-2932, doi:10.5194/acp-9-2919-2009, 2009.</li>
    <a href="http://www.atmos-chem-phys.net/9/2919/2009/acp-9-2919-2009.html" target="_blank">click here</a>

    <li>Topping, D. O., M. H. Barley, and G. McFiggans, The sensitivity of secondary organic aerosol 
    component partitioning to the predictions of component properties: part 2; determination of particle 
    hygroscopicity and its dependence on "apparent" volatility, Atmos. Chem. Phys., 11, 7767-7779, 
    doi:10.5194/acp-11-7767-2011, 2011.</li>
    <a href="http://www.atmos-chem-phys.net/11/7767/2011/acp-11-7767-2011.pdf" target="_blank">click here</a>

    <p></p>

  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.organic_compounds) }}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.inorganic_ions) }}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.interactions_method) }}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {{ render_field(form.vp_method) }}
  </div>
  <div class="medium-6 columns">
    {{ render_field(form.bp_method) }}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.soluble_core) }}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.insoluble_core) }}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.temperatures) }}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.humidities) }}
  </div>
</div>
{% endblock %}

