{% extends "tool.html" %}

{% block title %}Activity coefficient calculations [Mixed Organic/Inorganic systems]{% endblock %}

{% block form %}
{{ form.hidden_tag() }}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48961465-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="row">
  <div class="small-12 columns">
    <p>Calculate the activity coefficients in a liquid mixture. Using group
    contribution methods, users have the option to
    upload a text file specifying SMILES strings and condensed phase abundances.
    Activity coefficients are predicted assuming a homogeneous bulk representation,
    allowing all compounds to interact according to the technique applied. No partitioning
    between the liquid and another phase is accounted for.
    Please note that water should be included in the organic compound list. We do not require you to specify whether the mixture is defined as 'organic' or 'aqueous', rather, the
    predictions rely solely on the relative concentrations of each component without the need for defining a specific composition as reference state
    Users need to define the composition accordign to relative molar concentrations.
    For example, an equimolar Ammonium Sulphate-Succinic acid-Water particle might be defined as [NH4+] 2.0,
   [SO42-] 1.0, C(CC(=O)O)C(=O)O 1.0 and O 1.0. </p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.organic_compounds) }}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.inorganic_ions) }}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.interactions_method) }}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.temperatures) }}
  </div>
</div>
{% endblock %}

