{% extends "tool.html" %}

{% block title %}CCN activation calculations for organic aerosol{% endblock %}

{% block form %}
{{ form.hidden_tag() }}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48961465-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="row">
  <div class="small-12 columns">
    <p>Calculate the CCN activation potential a mixed organic aerosol particle.
    Users need to define the composition accordign to relative molar concentrations. For example, an equimolar 
    Succinic acid - Oxalic acid particle might be defined as C(CC(=O)O)C(=O)O 1.0 and C(=O)(C(=O)O)O 1.0. 
    </p>
    <p>Using the form below you can either upload a text file constaining a list of SMILEs strings or enter each SMILES
    string individually. To add a new compound simply click on the 'Add' button. </p>
    <p>Results are obtained from finding the critical point, or maximum point, on the relationship
    between saturation ratio of water vapour and droplet size. It has been common place to use Kohler
    theory for this purpose, for which more information can be found in numerous sources such as 
    Topping and McFiggans 2010. </p>
    <li>Topping, D. O. and McFiggans, G.: Tight coupling of particle size, number and composition in 
    atmospheric cloud droplet activation, Atmos. Chem. Phys., 12, 3253-3260, doi:10.5194/acp-12-3253-2012, 2012.</li>
    <a href="http://www.atmos-chem-phys.net/12/3253/2012/acp-12-3253-2012.html" target="_blank">click here</a>
    <p>It is important to note that only water is allowed to re-quilibrate between the gas and condensed 
    phase in traditional Kohler theory and in these calculations. Similarly, in the present simulations
    users have to define the surface tension value at the point of activation. For more information on
    potential discrepancies associated with bulk-to-surface partitioning and semi-volatile co-codensation,
    numerous sources in the literature are available, as lised below. For any organic compound we provide the
    equilbrium vapour pressure above the solution for an idea as to the potential for semi-volatile 
    co-condensation or co-evaporation: </p>

   <li>Sorjamaa, R., Svenningsson, B., Raatikainen, T., Henning, S., Bilde, M., and Laaksonen, A.: The role of 
   surfactants in Köhler theory reconsidered, Atmos. Chem. Phys., 4, 2107-2117, doi:10.5194/acp-4-2107-2004, 2004.</li>
   <a href="http://www.atmos-chem-phys.net/4/2107/2004/acp-4-2107-2004.html" target="_blank">click here</a>

   <li>Romakkaniemi, S., Kokkola, H., and Laaksonen, A.: Parameterization of the nitric acid effect on CCN activation, 
   Atmos. Chem. Phys., 5, 879-885, doi:10.5194/acp-5-879-2005, 2005.</li>
   <a href="http://www.atmos-chem-phys.net/5/879/2005/acp-5-879-2005.html" target="_blank">click here</a>

   <li>Topping, D. O. and McFiggans, G.: Tight coupling of particle size, number and composition in atmospheric 
   cloud droplet activation, Atmos. Chem. Phys., 12, 3253-3260, doi:10.5194/acp-12-3253-2012, 2012.</li>
   <a href="http://www.atmos-chem-phys.net/12/3253/2012/acp-12-3253-2012.html" target="_blank">click here</a>

   <p></p>

  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.organic_compounds) }}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.interactions_method) }}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {{ render_field(form.vp_method) }}
  </div>
  <div class="medium-6 columns">
    {{ render_field(form.bp_method) }}
  </div>
</div>

<div class="row">
  <div class="medium-6 columns">
    {{ render_field(form.density_method) }}
  </div>
  <div class="medium-6 columns">
    {{ render_field(form.properties_method) }}
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.surface_tension) }}
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.dry_sizes) }}
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.temperatures) }}
  </div>
</div>

{% endblock %}

