{% set title = '' %}
{% extends "layout.html" %}
{% block content %}
{{ super() }}
<div class="row">
  <div class="small-12 columns">
    <h2>Acknowledged contributions and support</h2>
    <p>We would like to acknowledge contributions and support from a team of researchers, university based and external consultants</p>

    <table>
        <thead>
            <tr><th>Name</th><th>Contribution</th></tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="http://www.seaes.manchester.ac.uk/people/staff/profile/?ea=david.topping">Dr David Topping</a></td>
                <td>Project Investigator and developer of property predictive techniques</td>
            </tr>
            <tr>
                <td><a href="http://www.seaes.manchester.ac.uk/people/staff/profile/?ea=Mark.Barley">Dr Mark Barley</a></td>
                <td>Developer of SMARTS libraries and property predictive techniques</td>
            </tr>
            <tr>
                <td><a href="https://github.com/waveform80">Dave Hughes, Waveform</a></td>
                <td>External constulant and developer of the UMansSysProp framework whilst helping to optimise all python scripts and design future proof code.</td>
            </tr>
            <tr>
                <td><a href="http://wiki.rac.manchester.ac.uk/community/MichaelBane">Dr Michael Bane</a></td>
                <td>University and external based consultant on hardware and software roadmaps.</td>
            </tr>
            <tr>
                <td><a href="http://www.manchester.ac.uk/research/gordon.b.mcfiggans/">Prof Gordon McFiggans</a></td>
                <td>Project Co-Investigator and linkage to other funded programmes.</td>
            </tr>

            <tr>
                <td><a href="http://www.lisa.u-pec.fr/~aumont/php/squelette.php?menu_actif=recherche&titre=Publications&source=publications.php&article=2">Prof Bernard Aumont</a></td>
                <td>Collaborator at LISA, Universite Paris Est Creteil et Universite Paris Diderot. Prof Aumont provided a set of SMILES strings for forming robust SMARTS libraries.</td>
            </tr>

            <tr>
                <td><a href="http://www.maths.manchester.ac.uk/~higham/">Prof Nick Higham</a></td>
                <td>Collaborator in the school of Mathematics. Prof Higham helped with the numerical schemes behind partitioning simulations.</td>
            </tr>


            <tr>
                <td><a href="http://www.nerc.ac.uk/">Natural Environment Research Council</a></td>
                <td>UManSysProp was developed through funding from NERC during grants #NE/H002588/1 and #NE/H023615/1</td>
            </tr>
            <tr>
                <td><a href="https://www.ncas.ac.uk/index.php/en/623">National Centre for Atmospheric Science</a></td>
                <td>Dr David Topping is also currently part funded by NCAS</td>
            </tr>
        </tbody>
    </table>

    <h2>Contact</h2>

    <h3>Academic enquiries on provided functionality, existing and future work</h3>
    <p>UManSysProp was designed to better facilitate collaborations across multiple
    sectors and disciplines. If you have any questions or ideas regarding future
    development work, or you simply want to work together, please contact Dr David
    Topping. The source code for the predictions covered on this site
    is not to be made available. As noted on the homepage however, you can access these predictions
    outside of your web-browser using a programmer friendly <a href="{{ url_for('api') }}">JSON
    API</a> that enables you to call our suite of tools from your own code.</p>

    <h3>Enquiries regarding the UManSysProp framework development</h3>
    <p>As noted in the footer of each page, the UManSysProp framework has a copyright &copy; 2014 
    <a href="mailto:dave@waveform.org.uk">Dave
    Hughes</a>, published under the terms of the <ahref="http://www.gnu.org/licenses/gpl-2.0.html">GNU GPL v2</a>. 
    The framework source code is available from <a href="https://github.com/waveform80/umansysprop">GitHub</a>, and documentation 
    is available from <a href="https://umansysprop.readthedocs.org/">ReadTheDocs</a></p>

    <h2>Useful links</h2>

    <p>Below are a series of links that might be of interest to users of this site:</p>

    <table>
        <thead>
            <tr><th>Name</th><th>Description</th></tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://https://www.python.org/">Python</a></td>
                <td>The Python programming language, used throughout UManSysProp</td>
            </tr>
            <tr>
                <td><a href="http://openbabel.org/wiki/Main_Page">OpenBabel</a></td>
                <td>The open-source OpenBabel informatics webpage. Openbabel sits at the core of UManSysProps capabilites</td>
            </tr>
            <tr>
                <td><a href="http://www.seaes.manchester.ac.uk/">School of Earth, Atmospheric and Environmental Science</a></td>
                <td>A link to the school at the University hosting the academic lead and team of researchers behind UManSysProp.</td>
            </tr>
        </tbody>
    </table>

    <h2>Relevant publications</h2>

    <p>Below are a series of publications by our group describing predictive techniques or ensemble methods provided on this site.</p>

    <table>
       <ul type="square">
        <li>Barley, M. H., D. O. Topping, M. E. Jenkin and G. McFiggans, Sensitivities of the absorptive partitioning model of secondary organic aerosol formation to the inclusion of water, Atmos. Chem. Phys., 9, 2919-2932, 2009.<a href="http://www.atmos-chem-phys.net/9/2919/2009/acp-9-2919-2009.pdf" target="_blank">click here</a></li>
        <li>Barley, M. H. and G. McFiggans, The critical assessment of vapour pressure estimation methods for use in modelling the formation of atmospheric organic aerosol, Atmos. Chem. Phys., 10, 749–767, 2010.<a href="http://www.atmos-chem-phys.net/10/749/2010/acp-10-749-2010.pdf" target="_blank">click here</a></li>
        <li>Barley, M. H., D. Topping, D. Lowe, S. Utembe and G. McFiggans, The sensitivity of secondary organic aerosol (SOA) component partitioning to the predictions of component properties – Part 3: Investigation of condensed compounds generated by a near-explicit model of VOC oxidation, Atmos. Chem. Phys., 11, 13145-13159, doi:10.5194/acp-11-13145-2011, 2011.<a href="http://www.atmos-chem-phys.net/11/13145/2011/acp-11-13145-2011.pdf" target="_blank">click here</a></li>
        <li>Barley, M. H., D. O. Topping and G. McFiggans, The Critical Assessment of Liquid Density Estimation Methods for Multifunctional Organic Compounds, J Phys Chem A 2013 Apr 15;117(16):3428-41. Epub 2013 Apr 15.<a href="http://pubs.acs.org/doi/abs/10.1021/jp304547r" target="_blank">click here</a></li> 
        <li>McFiggans, G., D. O. Topping and M. H. Barley, The sensitivity of secondary organic aerosol component partitioning to the predictions of component properties – Part 1: A systematic evaluation of some available estimation techniques, Atmos. Chem. Phys., 10, 10255-10272, doi:10.5194/acp-10-10255-2010, 2010.<a href="http://www.atmos-chem-phys.net/10/10255/2010/acp-10-10255-2010.pdf" target="_blank">click here</a></li>
        <li>O'Meara, Booth A. M., Barley M. H., Topping D., McFiggans G., An assessment of vapour pressure estimation methods., Phys Chem Chem Phys. 2014 Sep 28;16(36):19453-69. doi: 10.1039/c4cp00857j.</li> <a href="http://pubs.rsc.org/en/content/articlehtml/2014/cp/c4cp00857j" target="_blank">click here</a>
        <li>Topping, D. O., M. H. Barley, and G. McFiggans, The sensitivity of secondary organic aerosol component partitioning to the predictions of component properties: part 2; determination of particle hygroscopicity and its dependence on "apparent" volatility, Atmos. Chem. Phys., 11, 7767-7779, doi:10.5194/acp-11-7767-2011, 2011.<a href="http://www.atmos-chem-phys.net/11/7767/2011/acp-11-7767-2011.pdf" target="_blank">click here</a></li>
        <li>Topping, D. and G. McFiggans, Tight coupling of particle size, number and composition in atmospheric cloud droplet activation, Atmos. Chem. Phys., 12, 3253-3260, doi:10.5194/acp-12-3253-2012, 2012.<a href="http://www.atmos-chem-phys.net/12/3253/2012/acp-12-3253-2012.pdf" target="_blank">click here</a></li>       
       </ul>
    </table>

    <p>Method papers for techniques provided on this site</p>

    <li>Activity coefficients</li>
    <ul type="square">
    <li>Zuend, A., Marcolli, C., Luo, B. P., and Peter, T.: A thermodynamic model of mixed organic-inorganic aerosols to predict activity coefficients, Atmos. Chem. Phys., 8, 4559-4593, doi:10.5194/acp-8-4559-2008, 2008.
    <a href="http://www.atmos-chem-phys.net/8/4559/2008/acp-8-4559-2008.html" target="blank">click here</a></li>
    </ul>
    <li>Density</li><ul type="square">
      <li>Girolami,G.S., Journal of Chemical Education, 1994, 71, 962–964.</li>
      <li>Le Bas, G. The Molecular Volume of Liquid Chemical Compounds; Longmans, Green: New York, NY, USA, 1915.</li>
      <li>Tyn,M.T. and W. F. Calus, Processing 1975, 21, 16.</li>
    </ul>
      <li>Boiling point and Vapour pressures</li><ul type="square"> 
      <li>Joback, K. G. and Reid, R. C.: Estimation of pure-component prop- erties from group-contributions, Chem. Eng. Commun., 57, 233– 243, 1987.</li>
      <li>Myrdal, P. B. and Yalkowsky, S. H.: Estimating pure component vapor pressures of complex organic molecules, Ind. Eng. Chem. Res., 36, 2494–2499, 1997.</li>
      <li>Nannoolal, Y., Rarey, J., Ramjugernath, D., and Cordes, W.: Esti- mation of pure component properties Part 1, Estimation of the normal boiling point of non-electrolyte organic compounds via group contributions and group interactions, Fluid Phase Equi- libr., 226, 45–63, 2004.</li>
      <li>Nannoolal, Y., Rarey, J., and Ramjugernath, D.: Estimation of pure component properties. Part 3. Estimation of the vapor pressure of non-electrolyte organic compounds via group contributions and group interactions, Fluid Phase Equilibr., 269, 117–133, 2008.</li>
      <li>Stein, S. E. and Brown, R. L.: Estimation of normal boiling points from group contributions, J. Chem. Inf. Comp. Sci., 34, 581–587, 1994.</li>
    </ul>
    <li>Critical Properties</li><ul type="square">
    <li>Joback, K. G. and Reid, R. C.: Estimation of pure-component properties from group-contributions, Chem. Eng. Commun., 57, 233– 243, 1987.</li>
    <li>Myrdal, P. B. and Yalkowsky, S. H.: Estimating pure component vapor pressures of complex organic molecules, Ind. Eng. Chem. Res., 36, 2494–2499, 1997.</li>
    <li>Nannoolal, Y., Rarey, J., Ramjugernath, D., and Cordes, W.: Estimation of pure component properties Part 1, Estimation of the normal boiling point of non-electrolyte organic compounds via group contributions and group interactions, Fluid Phase Equi- libr., 226, 45–63, 2004.</li>

  </div>
</div>
{% endblock %}
